<h1>Listing Items</h1>



<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Call number</th>
    <th>Volume</th>
    <th>Comments</th>
    <th>Number of searches</th>
    <th>Location</th>
    <th>Search Status</th>
    <th></th>
  </tr>
<% @items.each do |item| %> 
  <tr>
    <td><%= item.title %></td>
    <td><%= item.author %></td>
    <td><%= item.callnumber %></td>
    <td><%= item.volume %></td>
    <td><%= item.comments %></td>
    <td data-item='<%= item.id %>'><%= item.numofsearch %>
  
    <td><%= item.location.location if item.location_id.present? %></td>
    <td><%= item.searchstatus.status if item.searchstatus_id.present? %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>


</table>

<%= link_to 'New Item', new_item_path %>




