<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Author:</b>
  <%= @item.author %>
</p>

<p>
  <b>Callnumber:</b>
  <%= @item.callnumber %>
</p>

<p>
  <b>Volume:</b>
  <%= @item.volume %>
</p>

<p>
  <b>Comments:</b>
  <%= @item.comments %>
</p>

<p>
  <b>Numober of searches:</b>
  <%= @item.numofsearch %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
