<h1>Listing locations</h1>

<table>
  <tr>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.location %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>

<div id="highChartContainer" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
<script type='text/javascript'>
    chart = new Highcharts.Chart({
    chart: {
        renderTo: 'highChartContainer',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    title: {
        text: 'Locations'
},
        
    series: [{
        type: 'pie',
        name: 'Locations',
        data: 
        <%=
    @locations.map do |location|
      [location.location, 1.0/@total]
   end.to_json.html_safe
%>
    }]
  });
</script>