<h1>Listing locations</h1>

<table>
  <tr>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.location %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>

<div id="highChartContainer" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type='text/javascript'>

    chart = new Highcharts.Chart({
    chart: {
        renderTo: 'highChartContainer',
        borderColor: '#346691',
        borderWidth: 2,
        backgroundColor:'#B7A66D',
        plotBackgroundColor: "#4F552A",
        plotBorderColor: '#1D3362',
        plotBorderWidth: 2,
        plotShadow: false
    },
   title: {
    text: "Location",
      style: {
        color: '#1D3362',
        
        font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
    
         }
   },
  tooltip: {
      formatter: function() {
        return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2, '.') +' %';
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2, '.') +' %';
          }
        }
      }
    },
        
    series: [{
        type: 'pie',
        name: 'Locations',
        data: 
        <%=
    @locations.map do |location|
      [location.location, 1.0/@total]
   end.to_json.html_safe
%>
    }]
  });
</script>