<!DOCTYPE html>
<html>
<html lang="en">

<style type="text/css">
body

{background-color:#4F552A;}
h1
{color:#EEE1C6;
text-align:center;}

table
{ 
color:#EEE1C6;
margin-left: auto;
margin-right: auto;
}

 </style>
<head>
  <title>SearchDesk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <h5 style="text-align:right;">
  <%= link_to "Texas A&M University Libraries", "http://library.tamu.edu/" %> 
</h5>
  <div style="text-align:left;">  
  	<%= link_to "Locations", locations_path %>  
    <%= link_to "Items", items_path %>
    <%= link_to "Users", users_path %> 
    <%= link_to "Search Status", searchstatuses_path %>
</div>


<% if flash[:notice].present? %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body style="text-align:center ;">
<table style="text-align:center;">



<%= yield %>


<h5>
        	<%= link_to "Texas A&M University", "http://www.tamu.edu/" %>
        </h5>

</body>
</html>
