<!DOCTYPE html>
<html>
<html lang="en">

<style type="text/css">
body

{background-color:#4F552A;}
h1
{color:#EEE1C6;
text-align:center;}

h2
{color:#EEE1C6;
text-align:center;}

body {color:#EEE1C6;}

table
{ 
color:#EEE1C6;
margin-left: auto;
margin-right: auto;
}

 </style>
<head>
  <%= image_tag "rails.png" %></br>
  <title>SearchDesk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <%# user is logged in, show log out link %>
  <% if current_admin.present? %>
    <%= link_to 'Admin Sign Out', destroy_admin_session_path, :method => :get %>
    <% else %>
  <% if current_user.present? %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :get %>
  <%# user is not logged in, show signup and login links %>
  <% else %>
    <%= link_to 'User Sign In', new_user_session_path %> |
    <%= link_to 'Register New User', new_user_registration_path %>
  <% end %>
  <% end %>

   <h5 style="text-align:right;">
  <%= link_to "Texas A&M University Libraries", "http://library.tamu.edu/" %> 
</h5>
<h5 style="text-align:left;">
  <% if user_signed_in? %>
  <div>Signed in as <%= current_user.email %></div>
<% end %>
<% if admin_signed_in? %>
  <div>Signed in as Admin:<%= current_admin.email %></div>
<% end %>
</h5>
  <div style="text-align:left;">  
    <%= link_to "Home", pages_path %> 
  	<%= link_to "Locations", locations_path %>  
    <% if user_signed_in? %>
    <%= link_to "Your Items", items_path %>
    <%end%>
    <% if admin_signed_in? %>
     <%= link_to "Items", items_path %>
     <%end%>

    <%= link_to "Users", users_path %> 
    <%= link_to "Search Status", searchstatuses_path %>
</div>

<% if flash[:notice].present? %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= image_tag "stacks.jpg" %>
  
</head>
<body style="text-align:center ;">
<table style="text-align:center;">



<%= yield %>


<h5>
        	<%= link_to "Texas A&M University", "http://www.tamu.edu/" %>
        </h5>

</body>
</html>
